.App {
  text-align: center;
  background-color: rgb(226, 191, 35);
  color: black;
}
.app-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-bar {
  text-align: center;
  background-color: #282c34;
  display: flex;
    justify-content: space-between;
    width: 15rem;
    list-style-type: none;
    padding: 1rem;
    margin: 0 auto;
    color: white;
    
}
.nav-title { color: #fcfcfc; } 
.nav-title:hover { color: #0cad0c; } 

.article-list {
  list-style: none;
}

.listed-articles {
  border-style: solid;
  padding: 2%;
  margin: 0 auto;
}

.nav-article { color: #fcfcfc; } 
.nav-article:hover { color: #0cad0c; } 

.article-nav {
  text-align: center;
  background-color: #282c34;
  display: flex;
    justify-content: space-between;
    width: 20rem;
    list-style-type: none;
    padding: 1rem;
    margin: 0 auto;
    color: white;
}
.comment-area {
  background-color: #282c34;
}
.comment-header {
  color: #fcfcfc;
  font-size: calc(8px + 2vmin);
}
.comment {
  background-color: #282c34;
  color: #fcfcfc;
  margin: 1 auto;
  padding: 2rem;
  font-size: calc(2px + 2vmin);
  border-width:1px;
  border-style:solid;
  border-color: rgb(226, 191, 35);
}

.comment-author {
  font-size: calc(4px + 2vmin);
}

.comment-text {
  font-size: calc(1px + 2vmin);
}

.comment-date {
  font-size: calc(0.01px + 2vmin);
}